:root {
  --primary-color: hsl(225, 100%, 94%);
  --primary-color2: hsl(245, 75%, 52%);
  --neutral-pale-blue: hsl(225, 100%, 98%);
  --neutral-desat-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
  --attribution-blue: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--attribution-blue);
}
